<ion-header>
  <ion-navbar color="twitter">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Refresher Quiz</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-slides #slides [options]="slideOptions">

    <ion-slide class="start-slide">
      <button ion-button color="primary" (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;" item-text-wrap>

      <flash-card [isFlipped]="question.flashCardFlipped">

        <div class="flash-card-front"  text-wrap><strong>Question {{i+1}}: </strong>{{question.flashCardFront}}</div>
        <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
      </flash-card>

      <ion-list no-lines radio-group>

        <ion-item *ngFor="let answer of question.answers; let i = index;" color="option" text-wrap>

          <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
          <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>
      <h2>Final Score: {{score}}</h2>
      <h2 color="danger">{{feedback}}</h2>

      <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>

    </ion-slide>

  </ion-slides>

</ion-content>



