
    ion-slide {
      align-items: flex-start;
      padding-top: 0;
      margin-top: 4%!important;
    }

    ion-item {

      font-size: 1.2em;
      background-color: map-get($colors, primary);
    }

    flash-card, .flash-card-back, .flash-card-front {
      color: #000;
      width:96%;
      padding-top: 0!important;
      margin-top: 0!important;
    }
    ion-label, ion-radio, ion-list{
      margin: 0 !important;
      padding: 0 !important;
    }


    .start-slide {
      justify-content: center;
      align-items: center;

      button {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
