.card-background-page {


  ion-card {
    position: relative;
    text-align: left;
	  ion-item{
	ion-icon{

		position:relative !important;
		left: 4px !important;
	}
  
  }

  }
  
  .card-title {
    font-size: 1.60em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }
  


  .wclor{
    color: #fff;
  }
  p{
    font-size: 1.20em;
  }
  


}

